<!DOCTYPE html>
<html lang="uk">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Дякуємо за вашу покупку!</title>
<link rel="stylesheet" href={{ url_for('static', filename='css/thankyou.css') }} />
</head>
<body>
<div class="container">
  <div class="header">
    <h1>Дякуємо за вашу покупку!</h1>
  </div>
  <div class="content">
    <p>Ми сподіваємося, що вам сподобається читати ваші нові книги. Ваша підтримка є надзвичайно важливою для нас, і ми будемо вдячні, якщо ви знайдете час, щоб залишити відгук після прочитання.</p>
    <a href="/account/profile" class="button">Мій Профіль</a>
    <a href="/" class="button">На Головну</a>
  </div>
  <div class="footer">
    <p>З найкращими побажаннями,<br>Команда магазину</p>
  </div>
</div>
</body>
</html>